
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1c2d3b;
    background-image: linear-gradient(180deg, #1c2d3b 0%, #000000 100%);
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #fff;
    width: 100%;

}

footer p {
        text-align: left; /* Alinha o texto à esquerda */
}

.menu_nav {

    background-color: #1C2D3B;
    color: #fff;
    padding: 10px;
    text-align: right; 

}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

header {
    background-color: #1C2D3B;
    color: #fff;
    padding: 10px;
    width: 100%;
}


    footer div {
        margin-top: 20px; 
    }

    .section_space_type_1 {
        background-color: #333;
    }

    .section_space_type_2 {
        color: #fff;
        padding: 10px;
        background-color: #1C2D3B;
    }

    .home_header {
        display: flex;
        align-items: center; 
    }

    .home_header img {
        margin-right: 20px; 
    }

    .navbar {

        background-color: #1C2D3B;
        padding: 1rem;

    }

.menu-item {
    margin: 0.5em;
    text-decoration: none;
    color: white;
}

footer {
    justify-content: center;
    display: flex;
    align-items: center;
}

.rodape {
    justify-content: center;
    display: flex;
    align-items: center;
}

.carousel-item img {

    border-radius: 0px;

}

.rodape-contato {
    margin-left: 4rem;
}

.ativo {
    background-color: #EA0044;
    padding: 0.4em;
    border-radius: 2rem;
    font-weight: 700;
}

.realizar-login {
    background-color: #EA0044;
    padding: 0.7em;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    border-radius: 2rem;
    font-weight: 700;
    appearance: none;
    margin-top: 3rem;
    border: 0;
    color: white;
    margin-bottom: 1rem;
}

.dash {
    background-color: #EA0044;
    padding: 0.7em;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    border-radius: 2rem;
    font-weight: 700;
    appearance: none;
    border: 0;
    color: white;
}

footer img {
    width: 20%;
}

.form-control {
    border-radius: 5rem;
}

.login {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    color: white;
}

.login .card {
    background-color: #1C2D3B;
}

.login-text {
    margin-bottom: 3rem;
    color: white;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}


.form input {
    margin-top: 1em;
    margin-bottom: 1em;
}

.login .card {
    border-radius: 5rem;
    padding-top: 3rem; 
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar img {
    width: 15%;
}

/* lembrra */

.agrupamento {
    display: block;
    margin: 1em;
}

.sobre-card {
    margin: 1rem;
    padding: 0;
    color: white;
    border-radius: 1rem;
    background-color: #1C2D3B;
}

.sobre {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 2rem;
}

.sobre img {
    width: 25%;
}


@media only screen and (max-width: 600px) {
    .rodape-contato {
        font-size: x-small;
        margin-left: 2rem;
        margin-top: 0px;
    }
    .login .card {
        margin: 20px;
        border-radius: 3rem;
        padding-top: 1rem;
    }
    .login {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .realizar-login {
        margin-top: 0px;
    }
    .login-text {
        margin-bottom: 0px;
    }
    footer {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    a {
        font-size: small;
    }
    .navbar img {
        width: 25%;
    }
    .sobre img {
        display: none;
    }
    .sobre {
        margin: 10px;
    }
}